ImageProcessingSoftware/.vs/
ImageProcessingSoftware/ImagePro.*/
ImageProcessingSoftware/x64/
ImageProcessingSoftware/ImageProcessingSoftware.sln

#./ImageProcessingSoftware/ImageProcessingSoftware.vcxproj
#./ImageProcessingSoftware/ImageProcessingSoftware.vcxproj.filters
#./ImageProcessingSoftware/ImageProcessingSoftware.vcxproj.user